<nz-table #rowSelectionTable nzShowPagination nzBordered nzSize="small" [nzFooter]="total|currency:'R$'" nzShowSizeChanger [nzTitle]='title' [nzData]="listOfData" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
    <thead>
        <tr>
            <th>*</th>
            <th>Unidade</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Valor Interno</th>
            <th>Valor Consumidor</th>
            <th>Valor SubTotal</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
            <td [nzChecked]="setOfCheckedId.has(data.idinfo)" (nzCheckedChange)="onItemChecked(data.idinfo, $event)"></td>

            <td>{{data.unidade}}</td>
            <td>{{ data.descricao }}</td>
            <td>{{ data.qtd }}</td>
            <td>{{ data.valorinterno|currency:'R$' }}</td>

            <td>{{ data.valor|currency:'R$' }}</td>
            <td>{{ data.subtotal|currency:'R$' }}</td>
        </tr>
    </tbody>
</nz-table>