<section class="pagina">
    <nz-breadcrumb class=" container" style="margin-top: 30px; " [nzSeparator]="iconTemplate">
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a [routerLink]="['/contaspagar']" routerLinkActive="router-link-active"> Contas a Pagar</a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #iconTemplate><i nz-icon nzType="arrow-right"></i></ng-template>

    <div class=" container" style="margin-top: 30px; ">
        <nz-card nzTitle="Lista de Contas a Pagar" [nzExtra]="extraTemplate">
            <div *ngIf="isrealy" style="margin-top: 30px; ">
                <app-items-list-contaspagar *ngFor="let item of listcontaspagadtos" [contaspagar]='item'>
                </app-items-list-contaspagar>
            </div>
        </nz-card>

        <ng-template #extraTemplate>

            <a nz-dropdown [nzDropdownMenu]="menu">
        Menu
        <i nz-icon nzType="down"></i>
      </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item>
                        <button (click)="showModal()" nz-button nzSize='small' nzType="link">
              <i nz-icon nzType="diff" nzTheme="outline"></i> Nova Conta a Pagar</button>
                    </li>

                    <li nz-menu-item>
                        <button nz-button nzSize='small' nzType="link" [useExistingCss]="true" printTitle="Cotação" printSectionId="componentID" ngxPrint><i nz-icon nzType="printer"
                nzTheme="outline"></i> Imprimir</button>
                    </li>
                </ul>
            </nz-dropdown-menu>


        </ng-template>
        <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
            <ng-template #modalTitle>Adicinar Contas a Pagar</ng-template>

            <ng-template #modalContent>
                <form [formGroup]="validateForm" (ngSubmit)="submitForm()">

                    <nz-steps [nzCurrent]="current" nzSize="small">
                        <nz-step nzTitle="Descrição"> </nz-step>
                        <nz-step nzTitle="Conta Pagador"></nz-step>
                        <nz-step nzTitle="Valor"></nz-step>
                        <nz-step nzTitle="Finalizar"></nz-step>
                    </nz-steps>

                    <div class="steps-content" style="margin-top: 20px;">
                        <div *ngIf="current===0">
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Por favor selecione um Grupo Financeiro">
                                    <div class="form-group   ">
                                        <nz-form-label nzFor="nome" nzRequired>Grupo Financeiro</nz-form-label>
                                        <nz-select class="col-lg-12" style="padding-left: 0; padding-right: 0;" (onselect)="selectgrupo($event)" [(ngModel)]='contaspagar.grupoFinanceiro.id' formControlName="grupofinanceiro" (ngModelChange)="selectgrupo($event)" nzShowSearch nzPlaceHolder="Select Grupo financeiro">
                                            <nz-option nzLabel={{item.nome}} [nzValue]='item.id' *ngFor="let item of grupoFinanceiro;
                let i=index"></nz-option>
                                        </nz-select>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                                <nz-form-control nzErrorTip="Por favor selecione um Históricos">
                                    <div class="form-group   ">
                                        <nz-form-label nzFor="nome" nzRequired>Históricos</nz-form-label>
                                        <input formControlName="historico" placeholder='selecione um Históricos' nz-input [(ngModel)]="hs" (ngModelChange)="onChange($event)" [nzAutocomplete]="auto" />
                                        <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                                <nz-form-control nzErrorTip="Por favor selecione um Fornecedor">
                                    <div class="form-group   ">
                                        <nz-form-label nzRequired>Fornecedor</nz-form-label>
                                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton1">

                                            <nz-select class="col-lg-12" style="padding-left: 0; padding-right: 0; width: 400px;" [(ngModel)]='contaspagar.fonercedor.id' formControlName="fornecedor" nzShowSearch (ngModelChange)="selectgrupoforn($event)" nzPlaceHolder="Select Grupo Fornecedor">
                                                <nz-option nzLabel={{item.nome}} [nzValue]='item.id' *ngFor="let item of fornecedores ">
                                                </nz-option>
                                            </nz-select>


                                        </nz-input-group>
                                        <ng-template #suffixIconButton1>
                                            <button nz-button nzType="primary" nzSearch (click)="showModalforn()">Adicionar</button>
                                        </ng-template>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div *ngIf="current===1">
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Por favor selecione Banco">
                                    <div class="form-group   ">
                                        <nz-form-label nzFor="nome" nzRequired>Banco</nz-form-label>
                                        <nz-select class="col-lg-12" style="padding-left: 0; padding-right: 0;" (ngModelChange)="selectgrupobanco($event)" [(ngModel)]='contaspagar.financeiro.banco.id' formControlName="banco" nzShowSearch nzPlaceHolder="Select Banco">
                                            <nz-option nzLabel={{item.nome}} [nzValue]='item.id' *ngFor="let item of bancos "></nz-option>
                                        </nz-select>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                                <nz-form-control nzErrorTip="Por favor selecione um Centro de Custo">
                                    <div class="form-group   ">
                                        <nz-form-label nzFor="nome" nzRequired>Centro de Custo</nz-form-label>
                                        <nz-select class="col-lg-12" style="padding-left: 0; padding-right: 0;" (ngModelChange)="selectgrupocc($event)" [(ngModel)]='contaspagar.financeiro.centroCusto.id' formControlName="centrocusto" nzShowSearch nzPlaceHolder="Select Centro Custo">
                                            <nz-option nzLabel={{item.nome}} [nzValue]='item.id' *ngFor="let item of centrocustos ">
                                            </nz-option>
                                        </nz-select>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>

                        </div>

                        <div *ngIf="current===2">
                            <div class="row">
                                <div class="col-lg-6">
                                    <nz-form-item>
                                        <nz-form-control nzErrorTip="Por favor selecione Valor">
                                            <div class="form-group   ">
                                                <nz-form-label nzFor="nome" nzRequired>Valor</nz-form-label>

                                                <input type="text" class="form-control form-control-sm" nz-input nzSize="small" currencyMask formControlName="valor" [options]="customMaskConfig" [(ngModel)]="contaspagar.valor" id="valor" placeholder="Valor">
                                            </div>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>


                                <div class="col-lg-6">
                                    <nz-form-item>
                                        <nz-form-control nzErrorTip="Por favor selecione Qtd Parcelas">
                                            <div class="form-group   ">
                                                <nz-form-label nzFor="nome" nzRequired>Parcelas</nz-form-label>
                                                <input type="text" class="form-control form-control-sm" nz-input nzSize="small" currencyMask formControlName="parcelas" [options]="customIntMaskConfig" [(ngModel)]='contaspagar.financeiro.parcelas' id="parcelas" placeholder="Período">
                                            </div>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <nz-form-item>
                                        <nz-form-control nzErrorTip="Por favor selecione Primeiro Vencimento">
                                            <div class="form-group   ">
                                                <nz-form-label nzFor="nome" nzRequired>Data Vencimento</nz-form-label>
                                                <nz-date-picker [nzFormat]="dateFormat" class="form-control form-control-sm" nz-input nzSize="small" formControlName="vencimento" [(ngModel)]="contaspagar.financeiro.datavencimento" id="vencimento" placeholder="Vencimento">
                                                </nz-date-picker>
                                            </div>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>


                                <div class="col-lg-6">
                                    <nz-form-item>
                                        <nz-form-control nzErrorTip="Por favor Descrição">
                                            <div class="form-group   ">
                                                <nz-form-label nzFor="nome" nzRequired>Descrição</nz-form-label>
                                                <input type="text" class="form-control form-control-sm" nz-input nzSize="small" formControlName="descricao" [(ngModel)]='contaspagar.descricao' id="descricao" placeholder="Descrição">
                                            </div>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="current===3">
                            Grupo Financeir:{{contaspagar.grupoFinanceiro.nome}}
                            <br /> Históricos:{{contaspagar.historico.nome}}
                            <br /> Fornecedor:{{contaspagar.fonercedor.nome}}
                            <br /> Banco: {{contaspagar.financeiro.banco.nome}}
                            <br />Centro de Custo: {{contaspagar.financeiro.centroCusto.nome}}
                            <br />


                            <div class="row">
                                <div class="col-lg-6">
                                    Valor:{{contaspagar.valor|currency:'R$'}}
                                </div>


                                <div class="col-lg-6">
                                    Parcelas:{{contaspagar.financeiro.parcelas}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    Data Vencimento:{{contaspagar.financeiro.datavencimento|date:'dd/MM/yyyy'}}
                                </div>


                                <div class="col-lg-12">
                                    Descrição:{{contaspagar.descricao}}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-template>
            <ng-template #modalFooter>
                <div class="steps-action">
                    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
            <span>Anterior</span>
          </button>
                    <button nz-button nzType="default" (click)="next()" *ngIf="current < 3">
            <span>Próximo</span>
          </button>
                    <button nz-button nzType="primary" [disabled]="!validateForm.valid" nz-popconfirm nzPopconfirmTitle="Deseja Incluir Contas a Pagar ?" (nzOnConfirm)="handleOk()" *ngIf="current === 3">
            <span>Finalizar</span>
          </button>
                </div>
            </ng-template>
        </nz-modal>

        <nz-modal [(nzVisible)]="isVisibleforn" nzTitle="Cadastro Fornecedor" (nzOnCancel)="handleCancelforn()">
            <div *nzModalContent>
                <form class="form-horizontal auth-form" nz-form [formGroup]="validateFormforn" (ngSubmit)="submitFormforn()">

                    <div class="row">
                        <div class="col-md-12">
                            <nz-form-control nzErrorTip="Digite CNPJ Fornecedor">
                                <div class="form-group">
                                    <nz-form-label nzFor="nome" nzRequired>CNPJ</nz-form-label>
                                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                                        <input type="text" [(ngModel)]="pessoa.cnpj" id="cnpj" formControlName="cnpj" nz-input placeholder="Cnpj ou Cpf" mask="000.000.000-00||00.000.000/0000-00" />
                                    </nz-input-group>
                                    <ng-template #suffixIconButton>
                                        <button nz-button nzType="primary" nzSearch *ngIf="pessoa.cnpj.length >=14" (click)="opdatecnpj()"><i nz-icon nzType="search"></i></button>
                                    </ng-template>
                                </div>
                            </nz-form-control>
                        </div>
                        <div class="col-md-12">
                            <nz-form-control nzErrorTip="Digite nome Fornecedor">
                                <div class="form-group">
                                    <nz-form-label nzFor="fantasia" nzRequired>Nome</nz-form-label>
                                    <input nz-input type="text" id="fantasia" [(ngModel)]="pessoa.nome" formControlName="nome" />
                                </div>
                            </nz-form-control>
                        </div>

                    </div>
                </form>
            </div>
            <div *nzModalFooter>
                <button nz-button nzType="default" (click)="handleCancelforn()">Cancelar</button>
                <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="Deseja Incluir Fornecedor?" (nzOnConfirm)="handleOkforn()" [disabled]="!validateFormforn.valid"><i nz-icon nzType="save"
            nzTheme="outline"></i>
          Cadastrar</button>
            </div>
        </nz-modal>
    </div>
</section>
<div id="componentID" class="container" style="font-size:90%;" *ngIf="isrealy">
    <div nz-row style="font-size:90%;">
        <div nz-col nzSpan="4"> <img [src]="empresa.imagemview" alt="" width="100"></div>
        <div nz-col nzSpan="8">
            {{empresa.name}}
            <address>
        <small>{{empresa.logradouro}}, Nº {{empresa.numero}} </small><br />
        <small>{{empresa.bairro}} - {{empresa.localidade}} </small><br />
        <small> CEP:{{empresa.cep}} - {{empresa.telefonecontato}}</small>
        <small> Email:{{empresa.emailcontato}} </small>
      </address>
        </div>
    </div>
    <hr>
    <app-report-contas-pagar-historico *ngFor="let item of listcontaspagadtos" [contaspagar]='item'>
    </app-report-contas-pagar-historico>
    <hr>
    <h5>
        <Strong>Total de Valores a quitar: {{total|currency:'R$'}} </Strong>
    </h5>
</div>
<nz-skeleton class=" container" [nzActive]="true" [nzAvatar]="true" [nzParagraph]="{ rows: 4 }" *ngIf="!isrealy">
</nz-skeleton>