<nz-page-header class="site-page-header card mg-t-5" style="margin-top: 20px;" *ngIf="isready">
    <!--breadcrumb
    <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item>First-level Menu</nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a>Second-level Menu</a>
         </nz-breadcrumb-item>
        <nz-breadcrumb-item>Third-level Menu</nz-breadcrumb-item>
    </nz-breadcrumb>

    avatar-->
    <nz-avatar nz-page-header-avatar [nzSrc]="empresa.imagemview"></nz-avatar>

    <!--title-->
    <nz-page-header-title>Cadastro Empresa </nz-page-header-title>

    <!--subtitle-->
    <nz-page-header-subtitle>{{empresa.name}} </nz-page-header-subtitle>

    <!--tags-->

    <!--extra-->
    <nz-page-header-extra>
        <button class="btn btn-primary btn-sm" nz-popconfirm nzPopconfirmTitle="Deseja Salvar Dados?" (nzOnConfirm)="saveempresa()"><i nz-icon nzType="save" nzTheme="outline"></i> Salvar</button>


    </nz-page-header-extra>
    <nz-page-header-content class="">
        <div class="row" *ngIf="isready">
            <div class="col-lg-3">
                <div align="center" class="panel panel-primary" style="float: center;">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Logo
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form enctype="multipart/form-data">
                            <div class=" form-group ">
                                <div class="fileinput fileinput-new " data-provides="fileinput ">
                                    <div class="fileinput-new thumbnail " style="width: 200px; height: 150px; ">
                                        <img alt="" [src]="empresa.imagemview" width="200px" height="150px" />
                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>
                    <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
                        <button class="btn btn-primary btn-sm" nz-button><i nz-icon nzType="upload"></i>Selecione logo</button>
                    </nz-upload>
                    <button nz-button class="btn btn-primary btn-sm" (click)="handleUpload()" [disabled]="fileList.length == 0" style="margin-top: 16px;margin-bottom: 16px;">
              {{ uploading ? 'Uploading' : 'Start Upload' }}
            </button>
                </div>
            </div>


            <div class="col-lg-9 ">
                <div class="panel panel-primary" style="float: center;">
                    <div class="panel-heading" align="center">
                        <h3 class="panel-title">
                            Dados Cadastrais

                        </h3>
                    </div>
                    <div class="panel-body">
                        <app-componente-data-gral [isready]="isready" [empresa]="empresa" (empresaChange)='updateEmitEmpresa($event)'></app-componente-data-gral>
                    </div>
                </div>
            </div>
        </div>
    </nz-page-header-content>
</nz-page-header>
<ng-template #extraTemplate>

</ng-template>
