
<nz-table #virtualTable [nzBordered]="true" [nzVirtualItemSize]="54" [nzData]="faturas" [nzFrontPagination]="false"
  [nzShowPagination]="false" [nzScroll]="{ y: '300px' }"  nzSize="small" >
  <thead>
    <tr>
      <th>Parcela</th>
      <th>Descrição</th>
      <th>Vencimento</th>
      <th>Valor</th>

    </tr>
  </thead>
  <tbody>
    <ng-template nz-virtual-scroll let-data let-index="index">
      <tr>

        <td>{{ data.parcela }}</td>
        <td>{{ data.nome }}</td>
        <td>{{ data.dataVencimento | date:'dd/MM/yyyy' }}</td>
        <td>{{ data.total | currency:'R$' }}</td>

      </tr>
    </ng-template>
  </tbody>
</nz-table>
