<section class="pagina card">
    <nz-breadcrumb class=" container" style="margin-top: 30px; " [nzSeparator]="iconTemplate">
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a> Lista Reposição Estoque</a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #iconTemplate><i nz-icon nzType="arrow-right"></i></ng-template>
    <nz-card nzTitle="Lista Reposição Estoque" [nzExtra]="extraTemplate">

        <div *ngIf="isrealy" style="margin-top: 5px; ">
            <app-lista-ressuprimento (itensAnuncio)='ngOnChangesitensLoja($event)' (emitTotal)='ngOnChangesLoja($event)' [total]='reposicao.totalitensAnuncioLoja' [listOfData]='reposicao.itensAnuncioLoja' *ngIf="reposicao.itensAnuncioLoja.length" [title]="'Ressuprimento para Estoque Loja'"></app-lista-ressuprimento>
            <app-lista-ressuprimento (itensAnuncio)='ngOnChangesitensWeb($event)' (emitTotal)='ngOnChangesWeb($event)' *ngIf="reposicao.itensAnuncioWeb.length" [total]='reposicao.totalitensAnuncioWeb' [listOfData]='reposicao.itensAnuncioWeb' [title]="'Ressuprimento para Estoque WEB'"></app-lista-ressuprimento>
            <app-lista-ressuprimento (itensAnuncio)='ngOnChangesitensContrato($event)' (emitTotal)='ngOnChangesContrato($event)' *ngIf="reposicao.itensAnuncioContrato.length" [total]='reposicao.totalitensAnuncioContrato' [listOfData]='reposicao.itensAnuncioContrato'
                [title]="'Ressuprimento para Estoque Contrato'"></app-lista-ressuprimento>
        </div>
    </nz-card>

    <ng-template #extraTemplate>
        <h6>Total: {{total|currency:'R$'}}</h6>
        <a nz-dropdown [nzDropdownMenu]="menu">
      Menu
      <i nz-icon nzType="down"></i>
    </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
                <li nz-menu-item *ngIf="itensressuprimento.length>0">
                    <a (click)="novacotacao()">Nova Cotação</a>
                </li>
                <li nz-menu-item>
                    <button nz-button nzSize='small' nzType="link" [useExistingCss]="true" printTitle="Ressuprimento Estoque" printSectionId="componentID" ngxPrint><i nz-icon nzType="printer" nzTheme="outline"></i>
            Print
          </button>
                </li>
            </ul>
        </nz-dropdown-menu>
    </ng-template>
</section>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>Adicinar Cotação</ng-template>

    <ng-template #modalContent>
        <form [formGroup]="validateForm" (ngSubmit)="submitForm()">

            <div class="mb-3">
                <label class="form-label"> Contrato: </label>
                <nz-select class="col-sm-12" nzShowSearch name="value" formControlName='fornecedor' nzPlaceHolder="" [(ngModel)]="cotacaoDto.fornecedor.id">
                    <nz-option *ngFor="let  item1 of fornecedores" [nzLabel]="item1.nome" [nzValue]="item1.id">
                    </nz-option>
                </nz-select>
            </div>

        </form>
    </ng-template>
    <ng-template #modalFooter>

        <button nz-button nzType="primary" [disabled]="!validateForm.valid" nz-popconfirm nzPopconfirmTitle="Deseja criar Cotação,operção irá redirecionar para pagina de cotação?" (nzOnConfirm)="handleOk()">
      <span>Finalizar</span>
    </button>
    </ng-template>
</nz-modal>
<div id="componentID" class="container" style="font-size:90%;" *ngIf="isrealy">
    <div nz-row style="font-size:90%;">
        <div nz-col nzSpan="4"> <img [src]="empresa.imagemview" alt="" width="100"></div>
        <div nz-col nzSpan="8">
            {{empresa.name}}
            <address>
        <small>{{empresa.logradouro}}, Nº {{empresa.numero}} </small><br />
        <small>{{empresa.bairro}} - {{empresa.localidade}} </small><br />
        <small> CEP:{{empresa.cep}} - {{empresa.telefonecontato}}</small>
        <small> Email:{{empresa.emailcontato}} </small>
      </address>
        </div>
    </div>
    <hr>
    <div *ngIf="isrealy" style="margin-top: 5px; ">
        <app-pirnt-ressuprimento [total]='reposicao.totalitensAnuncioLoja' [listOfData]='reposicao.itensAnuncioLoja' *ngIf="reposicao.itensAnuncioLoja.length" [title]="'Ressuprimento para Estoque Loja'"></app-pirnt-ressuprimento>
        <app-pirnt-ressuprimento *ngIf="reposicao.itensAnuncioWeb.length" [total]='reposicao.totalitensAnuncioWeb' [listOfData]='reposicao.itensAnuncioWeb' [title]="'Ressuprimento para Estoque WEB'"></app-pirnt-ressuprimento>
        <app-pirnt-ressuprimento *ngIf="reposicao.itensAnuncioContrato.length" [total]='reposicao.totalitensAnuncioContrato' [listOfData]='reposicao.itensAnuncioContrato' [title]="'Ressuprimento para Estoque Contrato'"></app-pirnt-ressuprimento>
    </div>
</div>