<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <nz-form-label nzFor="telefone" nzRequired>Contato</nz-form-label>
            <nz-form-control nzErrorTip="Insira Contato">
                <input nz-input type="text" id="telefone" [(ngModel)]="contato.contato" />
            </nz-form-control>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <nz-form-label nzFor="@Tag" nzRequired>Telefone</nz-form-label>
            <nz-form-control nzErrorTip="Insira @Tag">
                <input nz-input type="text" id="@Tag" mask="(00)00000-0000" [(ngModel)]="contato.telefonecontato" />
            </nz-form-control>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <nz-form-label nzFor="email" nzRequired>Email Contato</nz-form-label>
            <nz-form-control nzErrorTip="Insira email">
                <input nz-input type="text" id="email" type="email" [(ngModel)]="contato.emailcontato" />
            </nz-form-control>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <nz-form-label nzFor="site" nzRequired>Setor</nz-form-label>
            <nz-form-control nzErrorTip="Insira site">
                <input nz-input type="text" id="site" [(ngModel)]="contato.setorcontato" />
            </nz-form-control>
        </div>
    </div>
</div>
