<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-30">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a [routerLink]="['/estoque/anuncios/anunciosloja']" routerLinkActive="router-link-active">Lista Produtos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Anuncios Loja</li>
            </ol>
        </nav>
        <h4 class="mg-b-0 tx-spacing--1">Editar Anuncio</h4>


    </div>

    <div class="pull-rigth">

    </div>
</div>
<nz-card nzTitle="Editar Anuncio Loja" [nzExtra]="extraTemplate" *ngIf="isrealy">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 mb-4 mb-lg-0">
                    <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" style="margin: 10px; margin-top: 10px;">
                        <button nz-button><i nz-icon nzType="upload"></i>Selecione Arquivo</button>

                    </nz-upload>
                    <button nz-button (click)="handleUpload()" [disabled]="fileList.length == 0" style="margin-top: 16px;margin-bottom: 16px;margin: 10px">
            {{ uploading ? 'Uploading' : 'Start Upload' }}
          </button>
                    <hr>
                    <img [src]="obj.imagemView|| 'assets/images/estoque/produto.gif'" width="150px">
                </div>
                <div class="col-lg-9">
                    <h5>
                        {{obj.nome}}

                    </h5>
                    <h4 class="d-flex align-items-center">Valor: <span class="text-warning me-2">{{obj.valorFinal|currency:'R$'}} </span> </h4>

                    <div class="mb-3">
                        <label class="form-label"> Nome</label>
                        <input class="form-control" [(ngModel)]="obj.nome">
                    </div>
                    <div class="mb-3">
                        <label class="form-label"> Descrição</label>
                        <textarea class="form-control" [(ngModel)]="obj.descricao" rows="5"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label"> Saldo</label>
                                <input class="form-control" currencyMask [options]='customIntMaskConfig' nz-input nzSize="default" [(ngModel)]="obj.saldo">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label"> Saldo Minimo</label>
                                <input class="form-control" currencyMask [options]='customIntMaskConfig' nz-input nzSize="default" [(ngModel)]="obj.saldoMinimo">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label"> Saldo Maximo</label>
                                <input class="form-control" currencyMask [options]='customIntMaskConfig' nz-input nzSize="default" [(ngModel)]="obj.saldoMaximo">
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label"> Reposição</label>
                                    <input class="form-control" nzSize="default" [(ngModel)]="obj.saldoReposicao" readonly nz-input nzSize="default">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label"> Saldo Retido</label>
                                    <input readonly class="form-control" currencyMask [options]='customIntMaskConfig' nz-input nzSize="small" [(ngModel)]="obj.saldoReserva">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label"> Saldo Disponível</label>
                                    <input readonly class="form-control" currencyMask [options]='customIntMaskConfig' nz-input nzSize="small" [(ngModel)]="obj.saldoDisponivel">
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row ">

                        <div class=" col-lg-6  ">
                            <div class="form-group  mt-1  ">
                                <label for=""> Grupo de Preço </label>
                                <nz-select class='col-lg-12' [(ngModel)]="obj.grupopreco.id" name="value" nzPlaceHolder="">
                                    <nz-option *ngFor="let item of grupofinanceiros" [nzLabel]="item.nome" [nzValue]="item.id">
                                    </nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div class=" col-lg-6   ">
                            <div class="form-group  mt-1  ">
                                <label for="inputAddress2">Ativo</label>
                                <nz-select [(ngModel)]="obj.status" name="value" nzPlaceHolder="" class='col-lg-12'>
                                    <nz-option nzLabel="Não" nzValue="Não">
                                    </nz-option>
                                    <nz-option nzLabel="Sim" nzValue="Sim">
                                    </nz-option>
                                </nz-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nz-card nzTitle="Itens do Anuncio">
        <div class="row">
            <div class="col-lg-6">
                <table class="mt-3">
                    <tr>
                        <th class="col-sm-3">Título </th>
                        <th class="col-sm-7">Descrição </th>
                        <th> <button nz-button nzType="link" nzSize="small" (click)="adddescricao()"><i nz-icon
                  nzType="plus"></i></button>
                        </th>
                    </tr>
                    <tr *ngFor="let item of obj.descricoes; let i=index ">
                        <th class="col-sm-3"> <input nzSize="small" nz-input [(ngModel)]="item.titulo"></th>
                        <th class="col-sm-7"> <input nzSize="small" nz-input [(ngModel)]="item.descricao" id="name" name="name" placeholder=""> </th>
                        <th> <button nz-button nzType="link" nzSize="small" title="Excluir" (click)="excluirdescricao(i)"> <i nz-icon nzType="delete" nzTheme="outline"></i></button></th>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6">
                <table class=" table">
                    <tr>
                        <th>Produto </th>
                        <th>Valor </th>
                        <th>Qtd </th>

                        <th>Total </th>
                        <th> <button nz-button nzType="link" nzSize="small" (click)="addproduto()"><i nz-icon
                  nzType="plus"></i></button>
                        </th>
                    </tr>
                    <tr *ngFor="let item of obj.itensProduto; let i=index ">



                        <th>
                            <nz-select nzSize="small" class="col-lg-12" nzShowSearch [(ngModel)]="item.produto.id" name="value" nzPlaceHolder="" (ngModelChange)="selectproduto($event,i)">
                                <nz-option *ngFor="let  item1 of produtos" [nzLabel]="item1.nome" [nzValue]="item1.id">
                                </nz-option>
                            </nz-select>
                        </th>
                        <th> {{item.valor | currency :'R$'}} </th>
                        <th> <input nzSize="small" nz-input [(ngModel)]="item.quantidade" currencyMask [options]='customIntMaskConfig'> </th>

                        <th> {{item.valor * item.quantidade| currency :'R$'}} </th>
                        <th>
                            <button nz-button nzType="link" nzSize="small" title="Excluir" nz-popconfirm nzPopconfirmTitle="Deseja excluir produto?" (nzOnConfirm)="excluirproduto(i)"> <i nz-icon
                  nzType="delete" nzTheme="outline"></i></button>
                        </th>
                    </tr>
                </table>
            </div>
        </div>

        -


    </nz-card>
    <ng-template #extraTemplate>

        <ul nz-menu nzMode="horizontal">
            <li nz-menu-item nzSelected>
                <i nz-icon nzType="save"></i><a (click)="save()"> Atualizar Anuncio</a>
            </li>
            <li nz-submenu nzTitle="Clonar" nzIcon="setting">

                <ul>
                    <li nz-menu-item>
                        <a (click)="beforeclonecontrato()"> Para Contrato</a>
                    </li>
                    <li nz-menu-item><a nz-popconfirm nzPopconfirmTitle="Deseja clonar para Web?" (nzOnConfirm)="cloneWeb()"> Para
              Web</a> </li>
                </ul>
            </li>
        </ul>
    </ng-template>
</nz-card>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Clonar" (nzOnCancel)="handleCancel()">
    <div *nzModalContent>
        <div class="mb-3">
            <label class="form-label"> Contrato: </label>
            <nz-select class="col-sm-12" nzShowSearch [(ngModel)]="obj.tocontrato.id" name="value" nzPlaceHolder="">
                <nz-option *ngFor="let  item1 of contratos" [nzLabel]="item1.nome" [nzValue]="item1.id">
                </nz-option>
            </nz-select>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="Deseja Clonar para Contrato?" (nzOnConfirm)="handleOk()"><i nz-icon nzType="save" nzTheme="outline"></i>
      Cadastrar</button>
    </div>
</nz-modal>